<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General</title>
</head>
<body>

<table>
  <tr>
    <th>Tên đăng nhập</th>
    <th>Khảo sát</th>
    <th>Thao tác</th>
  </tr>
    {% for i in khpheduyet %}
  <tr>
    <td>{{i.username_khachhang}}</td>
    <td>{{i.khaosatso}}</td>
    <td><a href="/nhanvien/pheduyet/hangdoikhaosat/{{i.id}}/hienthi">Xem nội dung bài khảo sát</a>
     <button><a style="color:black;" href="/nhanvien/pheduyet/hangdoikhaosat/{{i.id}}/sua">Phê duyệt</a></button></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>