<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Page</title>
</head>
<body>
    <h2>Xin chào {{ user.username }} vai trò của bạn là nhân viên</h2>
    <a href="/dangxuat">Đăng xuất</a>
    &emsp;&emsp;
    <a href="/doimatkhau" class="txt2">Đổi mật khẩu</a>
    &emsp;&emsp;
    <a href="/quanlykhachhang/hienthi" class="txt2">Quản lý khách hàng</a>
    &emsp;&emsp;
    <a href="/nhanvien/pheduyet/hangdoikhaosat" class="txt2">Phê duyệt bài khảo sát</a>
</body>
</html>