<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
 <h1>Xin chào {{ user.username }} vai trò của bạn là admin</h1>
 <a href="/dangxuat">Đăng xuất</a>
 &emsp;&emsp;
 <a href="/doimatkhau" class="txt2">Đổi mật khẩu</a>
 &emsp;&emsp;
 <h1>Quản lý vai trò</h1>
 <a href="/quantrivien/quanlyvaitro" class="txt2">Quản lý vai trò</a>
 <h1>Quản lý phân quyền</h1>
 <a href="/quantrivien/quanlyphanquyen/nhanvienkinhdoanh" class="txt2">Nhân viên kinh doanh</a>

 <h1>Phê duyệt quản lý tài khoản khách hàng</h1>
 <a href="/quantrivien/pheduyet/quanlytaikhoankhachhang/them" class="txt2">Thêm</a>
 <br>
<a href="/quantrivien/pheduyet/quanlytaikhoankhachhang/sua" class="txt2">Sửa</a>
 <br>
<a href="/quantrivien/pheduyet/quanlytaikhoankhachhang/xoa" class="txt2">Xóa</a>
</body>
</html>